.filter-container {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0;
    box-shadow: var(--vscode-widget-shadow);
}

#filter {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: var(--vscode-input-border);
    padding: 0.25rem 0.5rem;
    width: calc(100% - 1rem);
    box-sizing: border-box;
}

.list {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    padding-top: 0.5rem;
}

.list-item {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

.list-item.active {
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
}

.list-item:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}
